@font-face {
	font-family: 'GillSansMT';
	src: local('Gill Sans MT');
	src: local('Gill Sans');
	src: url('../fonts/GillSansMT-Normal.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Normal.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Normal.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Normal.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face {
	font-family: 'GillSansMT';
	src: url('../fonts/GillSansMT-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

body {
	font-size: 16px;
	font-weight: normal;
	font-family: 'GillSansMT';
}
.container {
	max-width: 1140px;
}
button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

*, a {
	transition: all 0.3 ease;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #26272d;
	line-height: 1.17em;
}
h2 {
	font-size: 42px;
}

p {
	color: #8c8f94;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.4em;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #8c8f94;
	font-weight: bold;
}
a:active, 
a:hover,  
a {
  text-decoration: none ;
  color: #26272d !important;
}
.btn {
	border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    transition: all 0.3s ease;
    color: #26272d;
    font-size: 16px
    font-weight: 400;
}
.btn:hover {
	box-shadow: 0 10px 10px rgba(92, 95, 101, 0.1), 0 9px 16px rgba(61, 61, 62, 0.1);
}






/*  Header  */
.header {
	background: url('../img/background.jpg') no-repeat center / cover;
	padding-top: 40px;
}
.menu__item:not(:last-of-type) {
	margin-right: 42px;
	font-size: 16px;
	color: #26272d;
	font-weight: 400;
}
.menu__item:hover {
	color: #1b1c1e !important;
	opacity: 0.4;
}
.hamburger {
	margin-right: 30px;
}
.menu__item {
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: 400;
}
.offer__title {
	margin-top: 106px;
	margin-bottom: 34px;
	font-size: 62px;
}
.offer__text {
	width: 72%;
	text-align: center;
}
.offer__btn {
    margin-top: 45px;
    margin-bottom: 45px;
    display: block;
    width: 205px;
    padding-bottom: 10px;
    border: 1px solid #26272d;
    color: #26272d;
}
.offer__btn::before {
	content:'';
	display: block;
	background: url('../img/Play_Icon.png') no-repeat left center; 
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
.btn__app {
	background: #267df4;
	width: 135px;
	padding-right: 17px;
	padding-left: 17px;
	color: #fff;
	color: #fff !important;
	height: 42px;
}	
.btn__app::before {
	content:'';
	display: block;
	background: url('../img/Apple_Icon.png') no-repeat left center; 
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.phone {
	max-width: 499px;
	padding-left: 25px;
}




/*  features  */
.features {
	padding-top: 126px;
	padding-bottom: 109px;
}
.features__title {
	margin-top: 37px;
	margin-bottom: 32px;
	font-size: 26px;
}
.features__text {
	font-size: 18px;
}
.features__text:nth-child(2n) {
	margin-top: 31px;
}
.features__item {
	width: 94%;
}
.features__icon {
	overflow:hidden;
  	transition: all 0.3s ease;
}
.features__item:hover .features__icon {
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
 } 

.protect:hover .protect__img
.map:hover .map__img {
	-webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    transform: scale(1.15,1.15);
}





/*  protect  */
.protect__img {
	background: url('../img/phone2.png') no-repeat center center / contain;
	max-width: 850px;
	height: 650px;
	width: 135%;
	margin-left: -160px !important;
	margin-top: -20px !important;
	overflow: hidden;
  	transition: all 0.3s ease;
}
.protect__text {
	margin: 74px 0;
	display: block;
}
.protect__title {
	font-size: 42px;
}
.protect__btn_primary {
	width: 202px;
	height: 42px;
	border-radius: 21px;
	background: #267df4;
	color: #fff !important;
	transition: all 0.3s ease;
}
.protect__btn_primary::after {
	background: #267df4 url('../img/Arrow_Icon.png') no-repeat right center;
	width: 15px;
	height: 14px;
	content:'';
	display: block;
	margin-left: 50px;
	padding-left: -10px;
	transition: all 0.3s ease;
}
.protect__btn_primary:hover {
	padding-left: 10px;
}
.protect__btn_primary:hover::after {
	padding-right: -100px;
}
.protect__btn_secondary {
	border: 1px solid #26272d;
    color: #26272d;
    width: 142px;
    margin-left: 20px;
    height: 42px;
}





/*  Map  */
.map {
	margin-top: 72px;
	margin-bottom: 243px;
}
.partners__dropbox {
	margin-right: 30px;
}
.map__img {
	background: url('../img/worldmap.jpg') no-repeat center center / contain;
	max-width: 627px;
	width: 120%;
	height: 401px;
	margin-left: -60px;
	overflow:hidden;
  	transition: all 0.3s ease;
}
.map__text {
	margin-top: 63px;
	margin-bottom: 64px;
}
.partners {
	margin-top: 31px;
}
.map__inside {
	width: 90%;
}
.map__subtitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
}




/*  Footer  */
.footer {
	padding-bottom: 150px;
}
.footer__text {
	font-size: 14px;
	width: 270px;
	margin-top: 20px;
	margin-bottom: 24px;
	line-height: 1.7em;
}
.footer__item:not(:last-of-type) {
	margin-bottom: 13px;
}
.footer__item {
	font-weight: 400;
}
.footer__title {
	margin-bottom: 20px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.09em;
}
.footer__link {
	color: #8c8f94 !important;
	transition: all 0.3 ease;
}
.footer__link:hover {
	color: #26272d;
}






/*  Responsive  */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.offer__title {
		text-align: center;
	}
	.features__item:nth-child(1) {
		margin-bottom: 80px;
	}
	.footer__text {
		width: 150px;
	}
	.logo {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.menu__item {
		display: none;
	}
	.partners {
		margin-bottom: 50px !important;
	} 
	.map__img {
		width: 100%;
	}
	.protect__img {
		margin-top: -50px;
	}
	.map__img {
		margin-left: 0px !important;
		width: auto;
	}
	.protect__img {
		margin-left: -80px !important;
	}
	.hamburger {
		margin-bottom: 30px;
	}
	.map {
		margin-bottom: 100px !important;
	}
	.features {
		padding-bottom: 60px;	
	}
	.protect__img {
		width: 100%;	
	}


}

@media (max-width: 768px) {
	.map__inside {
		margin-top: 40px;
	}
	.protect__img {
		margin-top: -100px;
		margin-bottom: -50px;
		height: 400px;
	}
	.offer__title {
		font-size: 45px;
	}
	.offer__text {
		color: #26272d;
	}
	.footer__block {
		margin-bottom: 40px !important;
	}
	.map__partners {
		margin-bottom: 30px !important;
	}
	.features {
		padding-bottom: 30px;	
	}

}

@media (max-width: 576px) {
	.container {
		min-width: 374px;
	}
	.phone {
		width: 300px;
	}
	.offer__text {
		font-size: 16px;
	}
	.protect__img  {
		margin-top: -60px !important;
	}
	.map__partners  {
		margin-bottom: 0px !important;
	}
	.map {
		margin-bottom: 50px !important;
	}
	.partners {
		margin-bottom: 0px !important;
	}
	.protect__img {
		margin-left: 0px !important	;
	}
	.btn__app {
		display: none !important	;
	}


}

@media (max-width: 400px) {
	.container {
		min-width: 290px;
	}
	.protect__btn_primary::after {
	margin-left: 15px;
	transition: all 0.3s ease;
	}
	.offer__title {
		font-size: 35px;
	}
	h2, .protect__title {
		font-size: 35px;
	}
	.map {
		margin-bottom: 0px !important;
	}
	.menu__item {
		margin-bottom: 10px !important;
	}

}